body {
    text-align: left;
}

div{}

#Name{
    color: rgb(68, 0, 255);
    border: 2px solid black;
    width: max-content;

}

.my-class{
    font-style: italic;
}

img {
    border: 2px solid purple;
    width: max-content;
}

a {
    color: orange;
}

a:hover{
    color: blueviolet;
}